* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background: #ffffff; }

.f {
  width: 100%;
  background: #3a3a3a;
  height: 45px; }

.first {
  width: 1250px;
  background: #3a3a3a;
  margin: 0 auto; }
  .first .fir_1 {
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    margin-left: 30px; }
  .first .fir_2 {
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    margin-left: 10px; }

.fir_2 {
  color: #ffffff;
  line-height: 45px;
  font-size: 12px; }

.fir_3 {
  color: #ffffff;
  line-height: 45px;
  font-size: 12px; }

.fir_4 {
  display: inline-block;
  background: #e8194a;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle; }

.firstRight {
  float: right;
  width: 280px; }

.first img {
  vertical-align: middle;
  line-height: 45px; }

.img_1 {
  margin-left: 20px; }

.first span {
  color: #ffffff; }

.s {
  width: 100%;
  height: 89px;
  background: #ffffff; }

#second {
  width: 1250px;
  margin: 0 auto;
  height: 89px;
  background: #ffffff; }
  #second img {
    float: left; }

#second_zhong {
  float: left; }
  #second_zhong a {
    display: inline-block;
    width: 74px;
    text-align: center;
    margin-right: 38px;
    line-height: 89px;
    color: #000000;
    font-size: 18px; }
  #second_zhong a:hover {
    color: red; }

#second_zhong a:first-child {
  margin-left: 45px; }

#second_right {
  float: right;
  width: 336px;
  background: #ffffff;
  line-height: 89px;
  height: 89px; }
  #second_right input {
    float: left;
    width: 210px;
    height: 40px;
    margin-top: 20px; }
  #second_right .img_2 {
    border: 1px solid gray;
    border-left: none;
    margin-left: 214px;
    height: 42px;
    width: 42px;
    margin-top: 20px; }
    #second_right .img_2 img {
      height: 42px;
      width: 42px; }

.third {
  width: 100%;
  height: 700px;
  background: #ffffff; }

#box {
  position: relative;
  width: 530px;
  height: 533px;
  background-image: url(../img/timg1.jpg);
  background-size: 530px 533px;
  cursor: pointer; }

#bigMirror {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 260px;
  height: 260px;
  background-color: #ffffff;
  opacity: 0.4;
  display: none; }

#show {
  position: absolute;
  left: 550px;
  top: 0px;
  width: 400px;
  height: 400px;
  border: 1px solid #cccccc;
  overflow: hidden;
  display: none;
  background: #ffffff; }

#bigImg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 530px;
  height: 533px; }

#Imgs {
  display: inline-block;
  padding-top: 20px;
  width: 530px;
  height: 79px; }

.imgId {
  float: left;
  width: 79px;
  height: 79px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 13px; }

.imgId:hover {
  border: 2px solid #e5006a; }

.zuo {
  float: left;
  width: 550px;
  height: 700px;
  background: #ffffff; }

.right {
  width: 470px;
  height: 700px;
  background: #ffffff;
  float: left;
  margin-left: 200px; }
  .right .ppp1 {
    line-height: 74px;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #cccccc; }
    .right .ppp1 #sp11 {
      color: #e5006a; }
    .right .ppp1 #sp22 {
      color: #666666;
      font-size: 14px; }
  .right .ppp2 {
    color: #e5006a;
    font-size: 12px;
    line-height: 50px; }
  .right .ppp3 {
    color: #666666;
    font-size: 14px;
    line-height: 45px; }
  .right #ul1 {
    display: inline-block; }
    .right #ul1 li {
      display: inline-block;
      width: 176px;
      height: 55px;
      border: 1px solid #cccccc;
      margin-right: 15px;
      font-size: 12px;
      color: #666666;
      text-align: center;
      line-height: 55px; }
  .right #ul2 {
    display: inline-block; }
    .right #ul2 #_li1 {
      display: inline-block;
      width: 176px;
      height: 55px;
      border: 1px solid #cccccc;
      margin-right: 15px;
      font-size: 12px;
      color: #666666;
      text-align: center;
      line-height: 55px; }
    .right #ul2 #_li2 {
      margin-top: 30px;
      width: 275px;
      height: 55px;
      border: 1px solid #cccccc;
      margin-right: 15px;
      font-size: 12px;
      color: #666666;
      text-align: center;
      line-height: 55px; }

#goumai {
  width: 400px;
  height: 50px; }
  #goumai input {
    color: #666666; }
  #goumai #jia {
    width: 30px;
    height: 27px; }
  #goumai #shumu {
    width: 50px;
    height: 24px;
    text-align: center; }
  #goumai #jian {
    width: 30px;
    height: 27px; }

#choose {
  display: inline-block; }
  #choose #liji {
    display: inline-block;
    width: 200px;
    height: 52px;
    border: 1px solid #cccccc;
    margin-right: 15px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 52px; }
  #choose #jiaru {
    display: inline-block;
    width: 200px;
    height: 52px;
    border: 1px solid #cccccc;
    margin-right: 15px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 52px; }

.lastP {
  line-height: 50px;
  font-size: 12px;
  color: #666666; }
  .lastP img {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 50px;
    vertical-align: middle; }

#fourth {
  width: 1200px;
  margin: 0 auto; }

.navBox {
  width: 1200px;
  background: #f2f2f2;
  display: inline-block;
  border-bottom: 1px solid #e5006a; }

.navBox li {
  display: inline-block;
  line-height: 47px;
  width: 116px;
  text-align: center;
  color: #666666;
  font-size: 14px; }

.navBox li:hover {
  background: #e5006a;
  color: #ffffff;
  cursor: pointer; }

.hideList {
  display: none; }

.contBox {
  width: 1200px; }

._ulss {
  display: inline-block;
  width: 1200px;
  height: 600px;
  margin: 0 auto; }
  ._ulss li {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #e5006a; }

.pinglun {
  display: block;
  width: 120px;
  height: 35px;
  background: #e5006a;
  text-align: center;
  color: white;
  line-height: 35px;
  font-size: 14px;
  float: right;
  margin-top: 20px; }

.ele {
  width: 100%;
  height: 103px;
  background: #ffffff; }

#eleventh {
  width: 1250px;
  height: 103px;
  background: #ffffff;
  margin: 0 auto; }
  #eleventh #eleven {
    width: 1216px;
    height: 103px;
    background: #ffffff;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc; }
    #eleventh #eleven .eleven_one {
      float: left;
      width: 300px;
      height: 103px;
      background: #ffffff; }
      #eleventh #eleven .eleven_one a {
        float: left;
        display: inline-block; }
        #eleventh #eleven .eleven_one a img {
          display: inline-block; }
      #eleventh #eleven .eleven_one ul {
        float: left;
        display: block; }
        #eleventh #eleven .eleven_one ul li:hover {
          cursor: pointer; }
        #eleventh #eleven .eleven_one ul li:first-child {
          color: #000000;
          font-size: 14px;
          margin-top: 40px; }
        #eleventh #eleven .eleven_one ul li:last-child {
          color: #999999;
          font-size: 12px; }

._li1:hover {
  color: #82a9ef; }

.finally {
  width: 100%;
  height: 200px;
  background: #ffffff; }
  .finally .finally_one {
    width: 1216px;
    height: 200px;
    background: #ffffff;
    margin: 0 auto; }
    .finally .finally_one ._div {
      float: left;
      width: 25px;
      height: 200px; }
    .finally .finally_one ul {
      float: left;
      display: block;
      width: 188px;
      height: 200px;
      background: #ffffff; }
      .finally .finally_one ul li:first-child {
        color: #000000;
        font-size: 16px;
        line-height: 68px; }
      .finally .finally_one ul .li_li {
        font-size: 14px;
        line-height: 26px; }
      .finally .finally_one ul .li_li:hover {
        color: red;
        cursor: pointer; }
    .finally .finally_one img {
      display: block;
      float: left;
      width: 250px; }

.end {
  width: 100%;
  height: 78px;
  background: #f8f8f8; }
  .end .end_one {
    width: 1216px;
    height: 78px;
    background: #f8f8f8;
    margin: 0 auto; }
    .end .end_one p:first-child {
      font-size: 14px;
      line-height: 42px;
      text-align: center; }
      .end .end_one p:first-child a {
        color: #000000; }
    .end .end_one p:last-child {
      font-size: 14px;
      text-align: center;
      color: #c3c0ca; }

#youbian {
  width: 25px;
  height: 4072px;
  background: #3a3a3a;
  position: fixed;
  top: 0;
  right: 0;
  float: right; }

#_you {
  position: fixed;
  width: 25px;
  height: 210px;
  top: 286px; }
  #_you #ren {
    display: inline-block;
    width: 25px;
    height: 33px; }
    #_you #ren img {
      display: inline-block; }
  #_you #yonghu {
    display: inline-block;
    width: 80px;
    line-height: 30px;
    height: 30px;
    background: white;
    position: absolute;
    right: 25px;
    top: 2px;
    color: black;
    font-size: 14px;
    text-align: center;
    display: none; }
  #_you .gouche {
    display: inline-block;
    width: 25px;
    height: 117px;
    background: #df0068;
    margin-top: 10px; }

#shuliang {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #df0068;
  background: white;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3px; }

#_wawa {
  display: inline-block;
  margin-top: 5px; }

#kehu {
  display: inline-block;
  width: 80px;
  line-height: 30px;
  height: 30px;
  background: white;
  position: absolute;
  right: 25px;
  top: 172px;
  color: black;
  font-size: 14px;
  text-align: center;
  display: none; }
