* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background: #f8f8f8; }

.f {
  width: 100%;
  height: 34px;
  background: #a22076; }

.first {
  width: 1250px;
  height: 34px;
  background: #a22076;
  margin: 0 auto; }
  .first span {
    display: block;
    float: left;
    color: #ffffff;
    font-size: 12px; }
  .first .span1 {
    margin-left: 36px;
    margin-top: 8px; }
  .first .span2 {
    margin-top: 16px;
    margin-left: 15px; }
  .first .span3 {
    margin-top: 16px;
    margin-left: 15px; }
  .first #first_one {
    width: 223px;
    height: 34px;
    float: right; }
    .first #first_one a {
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #eeeeee;
      line-height: 33px; }
    .first #first_one img {
      float: left;
      display: inline-block; }
    .first #first_one span {
      display: block;
      line-height: 24px;
      margin-left: 5px; }

.s {
  width: 100%;
  height: 70px;
  background: #ffffff; }

.second {
  width: 1250px;
  height: 70px;
  background: #ffffff;
  margin: 0 auto; }
  .second img {
    display: inline-block;
    float: left; }
  .second #second_one {
    float: left;
    width: 685px;
    height: 70px; }
    .second #second_one a {
      display: inline-block;
      width: 85px;
      line-height: 70px;
      color: #333333; }
    .second #second_one a:hover {
      color: #e5006a; }
  .second input {
    display: block;
    float: left;
    width: 215px;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    border: 0;
    border: 1px solid #c164a5; }
  .second #dianji {
    position: absolute;
    left: 1195px;
    top: 55px;
    display: inline-block;
    width: 26px;
    height: 26px; }
    .second #dianji img {
      display: block; }

.t {
  width: 100%;
  height: 606px;
  background: #efefef; }

.third {
  width: 1250px;
  height: 606px;
  background: #efefef;
  margin: 0 auto;
  overflow: hidden; }
  .third .three {
    width: 1186px;
    height: 576px;
    background: #efefef;
    margin: 15px auto;
    border: 1px solid #d7d7d7; }
    .third .three .three_left {
      float: left;
      width: 883px;
      height: 576px;
      background: #efefef; }
      .third .three .three_left .p1 {
        margin-left: 15px;
        line-height: 50px; }
        .third .three .three_left .p1 .sp1 {
          display: inline-block;
          color: red; }
        .third .three .three_left .p1 label {
          color: #666666;
          display: inline-block;
          text-align: right;
          font-size: 14px;
          color: #666667; }
        .third .three .three_left .p1 .inp1 {
          display: inline-block;
          width: 220px;
          height: 28px;
          border-radius: 5px;
          border: 0;
          border: 1px solid #c164a5;
          font-size: 14px; }
        .third .three .three_left .p1 #shouji {
          color: #666666;
          display: inline-block;
          width: 220px; }
        .third .three .three_left .p1 #tishi222 {
          color: #666666;
          display: inline-block;
          width: 220px; }
        .third .three .three_left .p1 #tishi333 {
          color: #666666;
          display: inline-block;
          width: 220px; }

.p2 {
  margin-left: 15px;
  line-height: 50px; }
  .p2 #sp2 {
    display: inline-block;
    margin-left: 28px;
    color: red; }
  .p2 label {
    color: #666666;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #666667; }
  .p2 .inp2 {
    display: inline-block;
    width: 128px;
    height: 28px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #c164a5;
    font-size: 14px; }
  .p2 #tishione {
    color: #666666;
    display: inline-block;
    background: pink;
    width: 80px;
    text-align: center;
    color: white; }

.p3 {
  line-height: 66px; }
  .p3 #xieyi {
    width: 140px;
    height: 38px;
    display: inline-block;
    margin-left: 110px;
    background: #d3062d;
    color: white;
    border: 0; }

.p4 {
  color: #666667;
  line-height: 30px;
  font-size: 14px;
  margin-left: 110px; }

.huatiao {
  width: 530px;
  height: 203px;
  background: #efefef;
  margin-left: 110px;
  overflow-y: scroll;
  border: 2px solid #e7e7e7; }
  .huatiao p {
    color: #aa9999;
    line-height: 30px;
    font-size: 12px; }

.three_right {
  float: left;
  width: 300px;
  height: 232px;
  background: #fff9db;
  margin-top: 40px; }
  .three_right p {
    margin-left: 20px;
    font-size: 14px; }

.three_right p:nth-of-type(1), .three_right p:nth-of-type(5) {
  line-height: 56px;
  color: #bf5612; }

.three_right p:nth-of-type(2),
.three_right p:nth-of-type(3),
.three_right p:nth-of-type(4),
.three_right p:nth-of-type(6) {
  line-height: 28px;
  color: #565657; }

.three_right p:nth-of-type(6) a {
  color: #bf5612; }

.ff {
  width: 100%;
  height: 276px;
  background: #dcdcdc; }

.forth {
  width: 1250px;
  height: 276px;
  background: #dcdcdc;
  margin: 0 auto; }
  .forth .four {
    float: left;
    width: 111px;
    height: 276px; }
  .forth .four_one {
    float: left;
    width: 227px;
    height: 276px;
    background: #dcdcdc; }
    .forth .four_one ul {
      width: 90px;
      text-align: center; }
      .forth .four_one ul .li1 {
        color: #666666;
        font-size: 18px;
        font-weight: 900;
        line-height: 38px; }
      .forth .four_one ul .li2 {
        color: #666666;
        font-size: 14px;
        line-height: 22px; }

li:hover {
  cursor: pointer;
  text-decoration: underline; }

.fff {
  width: 100%;
  height: 112px;
  background: #f0f0f0; }

.fifth {
  width: 1250px;
  height: 112px;
  margin: 0 auto;
  background: #f0f0f0; }
  .fifth p {
    font-size: 14px;
    color: #666666;
    line-height: 112px;
    text-align: center; }

#box1 {
  width: 100%;
  position: fixed;
  top: 0; }

#box2 {
  margin-top: 104px; }

.up {
  width: 40px;
  height: 108px;
  background: #f1f6f9;
  position: fixed;
  right: 10px;
  bottom: 112px;
  border-radius: 6px;
  display: none; }
