@charset "uft-8";
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
body{
	background:#ffffff;
}

.f{
	width:100%;
	background:#3a3a3a;
	height:45px;
}


.first{
	width:1250px;
	background:#3a3a3a;
	margin:0 auto;
	.fir_1{
		color:#ffffff;
		height:45px;
		line-height:45px;
		font-size:12px;
		margin-left:30px;
	}
	.fir_2{
		color:#ffffff;
		height:45px;
		line-height:45px;
		font-size:12px;
		margin-left:10px;
	}
}

.fir_2{
	color:#ffffff;
	line-height:45px;
	font-size:12px;
}
.fir_3{
	color:#ffffff;
	line-height:45px;
	font-size:12px;
}
.fir_4{
    display:inline-block;
	background:#e8194a;
	width:20px;
	height:20px;
	color:#ffffff;
	font-size:13px;
	border-radius:50%;
	text-align:center;
	vertical-align:middle;
}
.firstRight{
	float:right;
	width:280px;
}
.first img{
	vertical-align:middle;
	line-height:45px;
}
.img_1{
	margin-left:20px;
}
.first span{
	color:#ffffff;
}

.s{
	width:100%;
	height:89px;
	background:#ffffff;
}

#second{
	width:1250px;
	margin:0 auto;
	height:89px;
	background:#ffffff;
	img{
		float:left;
	}
}

#second_zhong{
	float:left;
	a{
		display:inline-block;
		width:74px;
		text-align:center;
		margin-right:38px;
		line-height:89px;
		color:#000000;
		font-size:18px;
	}
	a:hover{
		color:red;
	}
}
#second_zhong a:first-child{
	margin-left:45px;
}
#second_right{
	float:right;
	width:336px;
	background:#ffffff;
	line-height:89px;
	height:89px;
		input{
			float:left;
			width: 210px;
			height: 40px;
			margin-top:20px;
		}
		.img_2{
			border:1px solid gray;
			border-left:none;
			margin-left: 214px;
			height: 42px;
			width: 42px;
			margin-top:20px;
			img{
				height: 42px;
				width: 42px;
			}
	}
}

.t{
	width:100%;
	height:160px;
	background:#f4f5f9;
	overflow: hidden;
}

.third{
	width:1250px;
	margin:0 auto;
	height:93px;
	background:#f4f5f9;
	margin-top:32px;
	overflow: hidden;
	border-radius:5px;
	.three{
		width: 1210px;
		height: 63px;
		background:#ffffff;
		margin-top: 15px;
		margin-left:26px;
		border-radius:5px;
		span{
			float: left;
			display: inline-block;
			width: 300px;
			height: 40px;
			background:#dcdcdc;
			line-height: 40px;
			text-align: center;
			font-size: 14px;
			color: #7e7e7e;
			margin-top: 10px;
			border-radius:5px;
			// margin-right:47px;
			// margin-left:47px;
		}
		span:hover{
			cursor: pointer;
		}
		.xiayinbu{
			float: left;
			width: 150px;
			height: 30px;
			// background:yellow;
			font-size: 14px;
			color: #7e7e7e;
			text-align: center;
			line-height:30px;
			border-bottom:5px solid #958e91;

		}
		.xiayibu1{
			color:  #e5006a;
			border-bottom:5px solid  #e5006a;
		
		}
	}
}



.for{
	width:100%;
	
}

.forth{
	width:1250px;
	margin:0 auto;
	
	// background:orange;
	border-bottom:1px solid #e5e5e5;
	overflow: hidden;
	#ulOne{
		display: inline-block;
		li{
			display: inline-block;
			color: #979693;
			font-size: 16px;
		}
	}
}
#ulOne li:nth-child(1){
			display: inline-block;
			width: 120px;
			height:60px;
			line-height:60px;
			overflow: hidden;
			border-right:1px solid #e5e5e5;
			input{
				display: inline-block;
				margin-left:30px;
			}
}
#ulOne li:nth-child(2){
			display: inline-block;
			width: 600px;
			height:60px;
			line-height:60px;
			overflow: hidden;
			border-right:1px solid #e5e5e5;
			text-align: center;
}
#ulOne li:nth-child(3),
#ulOne li:nth-child(4),
#ulOne li:nth-child(5),
#ulOne li:nth-child(6)
{
			display: inline-block;
			width: 124px;
			height:60px;
			line-height:60px;
			overflow: hidden;
			border-right:1px solid #e5e5e5;
			text-align: center;
}

.chanpin{
	width:1250px;
	margin:0 auto;
	background:pink;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
	.chan_1{
		display: inline-block;
		float: left;
			width: 120px;
			height:183px;
			line-height:183px;
			// background:yellow;
			input{
				display:inline-block;
				line-height:183px;
				margin-left:30px;
			}
	}
	.chan_2{
			float: left;
			width: 600px;
			height:183px;
			line-height:183px;
			// overflow: hidden;
			// background:green;
			img{
				display:block;
				float: left;
				width: 100px;
				height: 100px;
				margin-left:50px;
				margin-top: 45px;
			}
			ul{
				margin-top: 45px;
				float: left;
				// li{
				// 	height:30;
				// 	background:red;
				// 	line-height: 30px;
				// }
			}

	}
}
ul li:nth-child(1){
	height:30px;
	line-height: 30px;
	color:#7e7e7e;
	font-weight:900;
}
ul li:nth-child(2){
	height:30px;
	line-height: 30px;
	color:#7e7e7e;
}

.chan_3{
	display:block;
	float:left;
	height:183px;
	width:520px;
	// background:yellow;
	.sp_one{
		float: left;
		display: block;
		width: 130px;
		height: 30px;
		line-height: 183px;
		margin-left:35px;
		color: #7e7e7e;
	}
	input{
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-top: 80px;

	}
	.sp_two{
			color: #7e7e7e;
		}

	.sp_three{
		width: 130px;
		height: 30px;
		line-height: 183px;
		margin-left:70px;
		color: #ff0000;
		color: #7e7e7e;
	}
	.sp_four{
		width: 130px;
		height: 30px;
		line-height: 183px;
		margin-left:80px;
		color: #7e7e7e;
	}
}
.sp_four:hover{
	cursor:pointer;
}