@charset "uft-8";
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
body{
	background:#ffffff;
}
.f{
	width:100%;
	background:#3a3a3a;
	height:45px;
}


.first{
	width:1250px;
	background:#3a3a3a;
	margin:0 auto;
	.fir_1{
		color:#ffffff;
		height:45px;
		line-height:45px;
		font-size:12px;
		margin-left:30px;
	}
	.fir_2{
		color:#ffffff;
		height:45px;
		line-height:45px;
		font-size:12px;
		margin-left:10px;
	}
}

.fir_2{
	color:#ffffff;
	line-height:45px;
	font-size:12px;
}
.fir_3{
	color:#ffffff;
	line-height:45px;
	font-size:12px;
}
.fir_4{
    display:inline-block;
	background:#e8194a;
	width:20px;
	height:20px;
	color:#ffffff;
	font-size:13px;
	border-radius:50%;
	text-align:center;
	vertical-align:middle;
}
.firstRight{
	float:right;
	width:280px;
}
.first img{
	vertical-align:middle;
	line-height:45px;
}
.img_1{
	margin-left:20px;
}
.first span{
	color:#ffffff;
}

.s{
	width:100%;
	height:89px;
	background:#ffffff;
}

#second{
	width:1250px;
	margin:0 auto;
	height:89px;
	background:#ffffff;
	img{
		float:left;
	}
}

#second_zhong{
	float:left;
	a{
		display:inline-block;
		width:74px;
		text-align:center;
		margin-right:38px;
		line-height:89px;
		color:#000000;
		font-size:18px;
	}
	a:hover{
		color:red;
	}
}
#second_zhong a:first-child{
	margin-left:45px;
}
#second_right{
	float:right;
	width:336px;
	background:#ffffff;
	line-height:89px;
	height:89px;
		input{
			float:left;
			width: 210px;
			height: 40px;
			margin-top:20px;
		}
		.img_2{
			border:1px solid gray;
			border-left:none;
			margin-left: 214px;
			height: 42px;
			width: 42px;
			margin-top:20px;
			img{
				height: 42px;
				width: 42px;
			}
	}
}

.third{
	width:100%;
	height:700px;
	background:#ffffff;
}

#box{
	// display:inline-block;
	position:relative;
	width:530px;
	height:533px;
	background-image:url(../img/timg1.jpg);
	background-size:530px 533px;
	cursor: pointer;
}

#bigMirror{
	position:absolute;
	left:0px;
	top:0px;
	width:260px;
	height:260px;
	background-color:#ffffff;
	opacity:0.4;
	display:none;
}

#show{
	position:absolute;
	left:550px;
	top:0px;
	width:400px;
	height:400px;
	border:1px solid #cccccc;
	overflow:hidden;
	display:none;
	background:#ffffff;;
}

#bigImg{
	position:absolute;
	left:0px;
	top:0px;

	width:530px;
	height:533px;
	// width:800px;
	// height:600px;
}

#Imgs{
	display:inline-block;
	padding-top:20px;
	width:530px;
	height:79px;
}
.imgId{
	float:left;
	width:79px;
	height:79px;
	border:1px solid #cccccc;
	box-sizing: border-box;
	cursor: pointer;
	margin:0 13px;
}
.imgId:hover{
	border:2px solid #e5006a;
}

.zuo{
	float: left;
	width:550px;
	height:700px;
	background:#ffffff;

}


.right{
	width:470px;
	height:700px;
	background:#ffffff;
	float:left;
	margin-left:200px;
	// float:right;
	.ppp1{
		line-height: 74px;
		color: #000000;
		font-size: 24px;
		border-bottom:1px solid #cccccc;
		#sp11{
			color:#e5006a;
		}
		#sp22{
			color:#666666;
			font-size: 14px;
		}
	}
	.ppp2{
		color: #e5006a;
		font-size: 12px;
		line-height: 50px;
	}
	.ppp3{
		color: #666666;
		font-size: 14px;
		line-height: 45px;
	}
	#ul1{
		display: inline-block;
		li{

			display: inline-block;
			width: 176px;
			height: 55px;
			border:1px solid #cccccc;
			margin-right: 15px;
			font-size: 12px;
			color: #666666;
			text-align: center;
			line-height: 55px;
		}
	}
	#ul2{
		display: inline-block;
		#_li1{
			display: inline-block;
			width: 176px;
			height: 55px;
			border:1px solid #cccccc;
			margin-right: 15px;
			font-size: 12px;
			color: #666666;
			text-align: center;
			line-height: 55px;
		}
		#_li2{
			margin-top: 30px;
			width: 275px;
			height: 55px;
			border:1px solid #cccccc;
			margin-right: 15px;
			font-size: 12px;
			color: #666666;
			text-align: center;
			line-height: 55px;
		}
	}
}
li:hover{
	cursor:pointer;
}
#goumai{
	width:400px;
	height:50px;
	// background:orange;
	input{
		color:#666666;
	}
	#jia{
		width: 30px;
		height: 27px;
	}
	#shumu{
		width: 50px;
		height: 24px;
		text-align: center;
	}
	#jian{
		width: 30px;
		height: 27px;
	}
}
#choose{
	display:inline-block;
	#liji{
		display:inline-block;
		width: 200px;
		height: 52px;
		border:1px solid #cccccc;
			margin-right: 15px;
			font-size: 12px;
			color: #666666;
			text-align: center;
			line-height: 52px;
	}
	#jiaru{
		display:inline-block;
		width: 200px;
		height: 52px;
		border:1px solid #cccccc;
			margin-right: 15px;
			font-size: 12px;
			color:#666666;
			text-align: center;
			line-height: 52px;
	}
}
.lastP{
	line-height:50px;
	font-size: 12px;
	color:#666666;
	img{
		display: inline-block;
		width: 20px;
		height: 20px;
		line-height:50px;
		vertical-align: middle;


	}
}

.fourth{
	// width:1200px;
	// height:47px;
	// background:#f2f2f2;
	// margin:0 auto;
	// border-bottom:1px solid #e5006a;
	// #ulss{
	// 	display: inline-block;
	// 	li{
	// 		display: inline-block;
	// 		line-height: 47px;
	// 		width: 116px;
	// 		text-align: center;
	// 		color: #666666;
	// 		font-size: 14px;
	// 		a{
	// 			width: 116px;
	// 			display: inline-block;
	// 			color: #666666;
	// 		}
	// 		a:hover{
	// 			background:#e5006a;
	// 			color:#ffffff;
	// 		}
	// 	}
	// }
}
#fourth{
	width:1200px;
	
	margin:0 auto;
	
}
.navBox{
	width:1200px;
	background:#f2f2f2;
		display: inline-block;
		border-bottom:1px solid #e5006a;
}
			
.navBox li{
	display: inline-block;
			line-height: 47px;
			width: 116px;
			text-align: center;
			color: #666666;
			font-size: 14px;
}
.navBox li:hover{
				background:#e5006a;
				color:#ffffff;
				cursor: pointer;
			}
.navBox .nowNav{
	
}
.hideList{
	display: none;
}
.contBox{
	width:1200px;
	// border: solid 1px #007AFF;
	// height: 200px;
	// width: 410px;
}

._ulss{
	display:inline-block;
	width:1200px;
	height:600px;
	margin:0 auto;
	// background:yellow;
	
	li{
		display: block;
		height: 100px;
		line-height: 100px;
		text-align: center;
		color: #e5006a;
	}
}

.pinglun{
		display: block;
		width: 120px;
		height: 35px;
		background:#e5006a;
		text-align: center;
		color: white;
		line-height: 35px;
		font-size: 14px;
		float: right;
		margin-top: 20px;
	}

// .fifth{
// 	width:1200px;
// 	// background:#ffffff;
// 	background:pink;
// 	margin:0 auto;
// 	img{
// 		display: inline-block;
// 		margin-bottom:10px;
// 	}
// }


.ele{
	width:100%;
	height:103px;
	background:#ffffff;
}

#eleventh{
	width:1250px;
	height:103px;
	background:#ffffff;
	margin:0 auto;
	#eleven{
		width: 1216px;
		height:103px;
		background:#ffffff;
		margin:0 auto;
		border-bottom:2px solid #cccccc;
		.eleven_one{
			float: left;
			width: 300px;
			height: 103px;
			background:#ffffff;
			a{
				float: left;
				display: inline-block;
				img{
					display: inline-block;
				}
			}

			ul{
				float: left;
				display: block;
				li:hover{
				cursor: pointer;
				}
				li:first-child{
					color:#000000;
					font-size: 14px;
					margin-top: 40px;
				}
				li:last-child{
					color:#999999;
					font-size: 12px;
				}
			}
		}
	}
}
._li1:hover{
	color:#82a9ef;
}

.finally{
	width:100%;
	height:200px;
	background:#ffffff;
	.finally_one{
		width: 1216px;
		height:200px;
		background:#ffffff;
		margin:0 auto;
		._div{
			float: left;
			width: 25px;
			height: 200px;
		}
		ul{
			float: left;
			display: block;
			width: 188px;
			height: 200px;
			background: #ffffff;
			li:first-child{
					color:#000000;
					font-size: 16px;
					line-height: 68px;
			}

			.li_li{
				font-size: 14px;
				line-height: 26px;
			}
			.li_li:hover{
				color:red;
				cursor:pointer;
			}
		}
		img{
			display: block;
			float: left;
			width: 250px;

		}
	}
}
.end{
	width:100%;
	height:78px;
	background:#f8f8f8;
	.end_one{
		width: 1216px;
		height:78px;
		background:#f8f8f8;
		margin:0 auto;
		p:first-child{
					
					font-size: 14px;
					line-height: 42px;
					text-align: center;
					a{
						color:#000000;
					}
			}
		p:last-child{
			font-size: 14px;
			text-align: center;
			color:#c3c0ca;
		}
	}
}	



#youbian{
	width:25px;
	height:4072px;
	background:#3a3a3a;
	position:fixed;
	top:0;
	right:0;
	float:right;

}
#_you{
		position:fixed;
		width:25px;
		height: 210px;
		// background:pink;
		top:286px;
		#ren{
			display: inline-block;
			width: 25px;
			height: 33px;
			img{
				display: inline-block;
			}
		}
		#yonghu{
			display: inline-block;
			width: 80px;
			line-height: 30px;
			height: 30px;
			background:white;
			position:absolute;
			right: 25px;
			top:2px;
			color:black;
			font-size: 14px;
			text-align: center;
			display: none;
		}
		.gouche{
			display: inline-block;
			width: 25px;
			height: 117px;
			background:#df0068;
			margin-top: 10px;
		}
	}
#shuliang{
				display: inline-block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				border-radius:50%;
				color: #df0068;
				background:white;
				text-align: center;
				font-size: 14px;
				margin-top: 5px;
				margin-left:5px;
				margin-bottom: 3px;

			}
#_wawa{
	display:inline-block;
	margin-top:5px;
}
#kehu{
	display: inline-block;
			width: 80px;
			
			line-height: 30px;
			height: 30px;
			background:white;
			position:absolute;
			right: 25px;
			top:172px;
			color:black;
			font-size: 14px;
			text-align: center;
			display: none;
			
}